.error_main
{
    background-color: #fff;
    padding: 20px;
}

.four_zero_four_bg
{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}
    

.error_main h1
{
    text-align: center;
    font-size:80px;
    margin-top: 30px;
}